nav(css-module='faqs.mobile-menu.wrapper')
  .container(css-module='faqs.mobile-menu.container')
    div(css-module='faqs.mobile-menu.row')
      div(css-module='faqs.mobile-menu.header')
        a(css-module='faqs.mobile-menu.back' href='index' title='Back home') Back home
        button(css-module='faqs.mobile-menu.close')
          +svg('close')

      ul(css-module='faqs.mobile-menu.links')
        li: a(href="index#about") About
        li: a(href='index#intro') Render Network
        li: a(href='index#problem') The Problem
        li: a(href='index#team') Team & Advisors
        li: a(href='index#roadmap') Roadmap
        li: a(href="faqs") FAQ

      ul(css-module='faqs.mobile-menu.social')
        li: a(href="https://rendertoken.rocket.chat" target='_blank' rel='noopener noreferrer'): +svg('rocket')
        li: a(href="https://twitter.com/rendertoken" target='_blank' rel='noopener noreferrer'): +svg('twitter')
        li: a(href="https://www.facebook.com/OTOY" target='_blank' rel='noopener noreferrer'): +svg('facebook')
        li: a(href="https://www.t.me/rendertoken" target='_blank' rel='noopener noreferrer'): +svg('telegram')
        li: a(href="https://www.reddit.com/r/RenderToken/" target='_blank' rel='noopener noreferrer'): +svg('reddit')
        li: a(href="https://medium.com/render-token" target='_blank' rel='noopener noreferrer'): +svg('medium')
