@import '../abstracts/index';

.row {
  display: flex;
  align-items: center;
  justify-content: center;

  @include breakpoint(desktop) {
    flex-wrap: wrap;
    margin: 34px -20px 0;
  }
}

.service {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 80px;

  @include breakpoint(desktop) {
    max-width: 50%;
    flex-basis: 50%;
    margin: 0;
    padding: 0 20px;
    text-align: center;
    margin-bottom: 34px;
    display: block;
  }
}

.icon {
  margin-right: 23px;
  @include breakpoint(desktop) {
    margin: 0 auto 10px;
  }
  svg {
    display: block;
    @include breakpoint(desktop) {
      margin: 0 auto;
    }
  }
}

.title {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;

  @include breakpoint(desktop) {
    font-size: 22px;
    line-height: 28px;
  }
}

.subtitle {
  font-size: 14px;
  line-height: 18px;

  @include breakpoint(desktop) {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
  }
}
