div(css-module='components.controls.wrapper')
  div(css-module='components.controls.count')
    span(css-module='components.controls.current') 1
    span /
    span 4
  div
    button(css-module='components.controls.prev'): +svg('tiny-prev')
    button(css-module='components.controls.next'): +svg('tiny-next')
