mixin sector({icon, name})
  div(css-module='home.how.sector')
    div(css-module='home.how.sector-icon')
      +svg(icon)
    div(css-module='home.how.sector-name')
      p= name

section#how(css-module='home.how.wrapper')
  .container-1060
    div(css-module='home.how.intro')
      h6 How It Works
      h4 The Render Network
      p The Render Network will be the first network to transform the power of GPU compute into a decentralized economy of connected 3D assets. In the Render Network, each RNDR will obtain 256 seconds of rendering at 256 Octane Bench.

    div(css-module='home.how.infographic')
      +svg('infographic')

    button(css-module='home.how.trigger' data-overlay='#The-Render-Ecosystem-overlay')
      +svg('flowchart', { 'css-module': 'home.how.flowchart' })

    div(css-module='home.how.copy')
      p Ethereum’s widespread adoption was the key to realizing our vision. Instead of GPUs being used to only mine currencies, we use their intrinsic function to render and leverage the features of the blockchain: network, incentives and trust.

    div(css-module='home.how.row')
      div(css-module='home.how.sectors')
        h5 Potential Users of the Render Network
      div(css-module='home.how.icons')
        +sector({
          icon: 'media',
          name: 'Media'
        })
        +sector({
          icon: 'industry',
          name: 'Industry'
        })
        +sector({
          icon: 'ar',
          name: 'Augmented Reality'
        })
        +sector({
          icon: 'mixed-reality',
          name: 'Mixed Reality'
        })
        +sector({
          icon: 'gaming',
          name: 'Gaming'
        })
        +sector({
          icon: 'medical',
          name: 'Medical'
        })
        +sector({
          icon: 'vr',
          name: 'Virtual Reality'
        })

  +img('close.png', 'home.roadmap.gears')

  +overlay('The Render Ecosystem')
    span(css-module='home.how.instructions')
      | Swipe left and right to scroll
      +svg('scroll')
    div(css-module='home.how.scroll')
      div(css-module='home.how.overflow')
        +img('infographic.jpg', 'home.how.info-pic')
    p Ethereum’s widespread adoption was the key to realizing our vision. Instead of GPUs being used to only mine currencies, we use their intrinsic function to render and leverage the features of the blockchain: network, incentives and trust.
