section#intro(css-module='home.intro.wrapper')
  div(css-module='home.intro.container')
    div(css-module='home.intro.row')
      div(css-module='home.intro.small-col')
        div(css-module='home.intro.intro')
          h6 Introduction
          h4 Our vision is to democratize computing rendering power
          p The Render Network creates a much more efficient, powerful, and widely-scalable rendering network.
      div(css-module='home.intro.large-col')
        div(css-module='home.intro.video' )
          div(css-module='home.intro.iframe')
            #vimeo-player
          button(css-module='home.intro.button' data-id='231572056')
            +img('poster.jpg')
            +svg('play')
        p(css-module='home.intro.mobile-intro') The Render Network creates a much more efficient, powerful, and widely-scalable rendering network.
        button(css-module='home.intro.read-more' data-overlay='#Introduction-overlay')
          span Read more
          +svg('caret-down')
    div(css-module='home.intro.row')
      div(css-module='home.intro.small-col')
        +img('gpu.png', 'home.intro.gpu')
      div(css-module='home.intro.large-col')
        div(css-module='home.intro.copy')
          p The Render Network, through the use of RNDR tokens, will be the first network to transform the power of GPU compute into a decentralized economy of connected 3D assets.
          p OTOY’s vision is to distribute the framework of the existing rendering service in Octane Render using RNDR, a digital token built on the Ethereum blockchain.
          p The Render Network is designed to connect users looking to perform render jobs with people who have idle GPUs to process the renders. Owners would connect their GPUs to the Render Network in order to receive and complete rendering jobs using OctaneRender. Users would send RNDR to the individual performing the render work and OTOY would receive a small percentage of RNDR for facilitating the transaction and running the Render Network.

  +overlay('Introduction')
    p The Render Network, through the use of RNDR tokens, will be the first network to transform the power of GPU compute into a decentralized economy of connected 3D assets.
    p OTOY’s vision is to distribute the framework of the existing rendering service in Octane Render using RNDR, a digital token built on the Ethereum blockchain.
    p The Render Network is designed to connect users looking to perform render jobs with people who have idle GPUs to process the renders. Owners would connect their GPUs to the Render Network in order to receive and complete rendering jobs using OctaneRender. Users would send RNDR to the individual performing the render work and OTOY would receive a small percentage of RNDR for facilitating the transaction and running the Render Network.
