header(css-module="home.menu.header")
  a(css-module="home.menu.logo" href="https://home.otoy.com/" title="Otoy")
    +svg('logo')
  .container
    div(css-module='home.menu.row')
      a(css-module="home.menu.rndr" href="index" title="Otoy")
        +svg('rndr-mobile')

      a(href='https://home.otoy.com/' title='Otoy' css-module='home.menu.tight')
        +svg('otoy-standalone')

      button(css-module='faqs.menu.toggle' data-menu-trigger)
        +svg('burger', {
          'css-module': 'faqs.menu.burger'
        })
        span.sr-only Toggle menu
      ul(css-module='home.menu.normal-links')
        li: a(href="#about") About
        li: a(href='#intro') Render Token
        li: a(href='#problem') The Problem
        li: a(href='#team') Team & Advisors
        li: a(href='#roadmap') Roadmap
        li: a(href='faqs') FAQs

      ul(css-module='home.menu.social')
        li: a(href="https://twitter.com/rendertoken" target='_blank' rel='noopener noreferrer'): +svg('twitter')
        li: a(href="https://www.facebook.com/OTOY" target='_blank' rel='noopener noreferrer'): +svg('facebook')
        li: a(href="https://www.t.me/rendertoken" target='_blank' rel='noopener noreferrer'): +svg('telegram')
        li: a(href="https://www.reddit.com/r/RenderToken/" target='_blank' rel='noopener noreferrer'): +svg('reddit')
        li: a(href="https://medium.com/render-token" target='_blank' rel='noopener noreferrer'): +svg('medium')

      a(href="https://rendertoken.rocket.chat" title="Launch Rocket Chat" css-module="home.menu.cta" target='_blank' rel='noopener noreferrer')
        +svg('rocket')
        span Launch Rocket Chat
