template#subscribed(style='display: none')
  +svg('news-check', { 'css-module': 'home.newsletter.check' })
  h4(css-module='home.newsletter.subscribed') You're Subscribed!
  p(css-module='home.newsletter.filler') We got your email, and well be in touch.
