@import "../abstracts/index.scss";

:global {
  html {
    box-sizing: border-box;
  }

  * {
    box-sizing: inherit;
    &::before, &::after {
      box-sizing: inherit;
    }
  }

  ::selection {
    background: $main-color;
    color: $white;
  }

  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .no-js .lazyload {
    display: none;
  }

  img {
    max-width: 100%;
    transition: .2s;

    &.lazyload {
      filter: blur(2px);
    }

    &.lazyloaded {
      filter: blur(0);
    }
  }

  .is-hidden {
    position: absolute;
    height: 0;
    width: 0;
    visibility: hidden;
  }

  svg[class^="icon-"] {
    fill: currentColor;
    stroke: none;
    max-width: 100%;
  }
}
